---
layout: base.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
{% for post in posts %}
  <article class="home-page-article">
    <h1>
      <a href="{{ post.url | url }}" title="{{ post.data.title }}">{{ post.data.title }}</a>
    </h1>
    <time datetime="{{ post.date | dateISO }}" title="{{ post.date | dateLong }}">{{ post.date | dateShort }}</time>
    {% excerpt post %}
  </article>
{% endfor %}