---
layout: base.njk
pagination:
  data: collections.post
  size: 7
  reverse: true
  alias: posts
---
{% for post in posts %}
  <article class="home-page-article">
  <div class="title-date">
    <h1>
      <a href="{{ post.url | url }}" title="{{ post.data.title }}">{{ post.data.title }}</a>
    </h1>
    <time datetime="{{ post.date | dateISO }}" title="{{ post.date | dateLong }}">
    {{ post.date | dateFrom }}
    {% if post.date | dateFrom < 1 %}
    days ago
    {% endif %}
    {% if post.date | dateFrom == 1 %}
    day ago
    {% endif %}
    {% if post.date | dateFrom > 1 %}
    days ago
    {% endif %}
    </time>
  </div>
    {% excerpt post %}
  </article>
{% endfor %}
<nav id="pagination" aria-labelledby="pagination">
  <ol>
{%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a></li>
{%- endfor %}
  </ol>
</nav>