---
layout: base.njk
---

<div class="press-links">
  <div class="heading">
    <h2>Mexico</h2>
    <img alt="Mexico flag" title="Mexico" src="/icons/mexico-flag.svg"/>
  </div>
  <div class="links-box">
    <a href="https://www.debate.com.mx/" target="_blank" rel="noreferrer">Debate</a>
    <a href="https://www.eleconomista.com.mx/" target="_blank" rel="noreferrer">El Economista</a>
    <a href="https://www.elfinanciero.com.mx" target="_blank" rel="noreferrer">El Financiero</a>
    <a href="https://eluniversal.com.mx" target="_blank" rel="noreferrer">El Universal</a>
    <a href="https://excelsior.com.mx" target="_blank" rel="noreferrer">Excélsior</a>
    <a href="https://jornada.com.mx" target="_blank" rel="noreferrer">La Jornada</a>
    <a href="https://milenio.com" target="_blank" rel="noreferrer">Milenio</a>
    <a href="https://nexos.com.mx/" target="_blank" rel="noreferrer">Nexos</a>
    <a href="https://proceso.com.mx" target="_blank" rel="noreferrer">Proceso</a>
    <a href="https://reforma.com" target="_blank" rel="norefferer">Reforma</a>
    <a href="https://revoluciontrespuntocero.mx" target="_blank" rel="norefferer">Revolución 3.0</a>
    <a href="https://sinembargo.com.mx" target="_blank" rel="noreferrer">Sin Embargo</a>
  </div>
</div>