<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>@just_some_d00d</title> 
</head> 
<body> 
  <header>
    <a href="/" title="Home">Home</a>
    <a href="/about" title="About">About</a>
    <a href="https://twitter.com/just_some_d00d" title="Twitter" target="_blank">Twitter</a>
    <a href="https://github.com/somed00d" title="Github" target="_blank">Github</a>
  </header>
  <main>
    {{ content | safe }}
  </main> 
  <footer></footer> 
</body> 
</html>