---
layout: base.njk
---
<article>
  <h1>{{ title }}</h1>
  <p> 
  {{ content | safe }}
  </p>
  <div onclick="goBack()"><strong>Back</strong></div>
  <time datetime="{{ date | dateLong }}">{{ date | dateLong }}</time> 
</article>
<script>
function goBack() {
  window.history.back();
}
</script>