---
layout: base.njk
---
<article>
  <h1>{{ title }}</h1>
  <p> 
  {{ content | safe }}
  </p>
  <span onclick="goBack()"><strong>Back</strong></span>
  <br/>
  <time datetime="{{ date | dateReadable }}">{{ date | dateReadable }}</time> 
</article>
<script>
function goBack() {
  window.history.back();
}
</script>