---
layout: base.njk
---
<article class="post">
  <h1>{{ title }}</h1>
  <time datetime="{{ date | dateLong }}">{{ date | dateLong }}</time> 
  <p> 
  {{ content | safe }}
  </p>
  <div onclick="goBack()" class="back-button">Back</div>
</article>
<script>
function goBack() {
  window.history.back();
}
</script>