.home-page-article {
  margin: 1em 0;
  time {
    font-family: 'Fira Code';
    font-size: 12px;
    font-weight: 400;
  }
  h1 {
    font-size: 2em;
    font-family: serif;
    font-weight: 600;
  }
  p {
    margin: 0;
    max-width: 400px;
  }
  a {
    text-decoration: underline;
  }
}
