.home-page-article {
  border-bottom: 1px dotted #fafbfb;
  width: 80%;
  .title-date {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  a {
    text-decoration: none;
  }
  time {
    font-family: 'Fira Code';
    color: #a7a9aa;
    font-size: 12px;
    font-weight: 400;
    margin-left: 2em;
    white-space: nowrap;
  }
  h1 {
    font-size: 1.5em;
    @media (min-width: 415px) {
      font-size: 2em;
    }
    font-family: serif;
    font-weight: 500;
  }
  p {
    margin: 0.25em 0 0.5em 0;
    max-width: 325px;
    font-size: 14px;
  }
}
