nav {
  a {
    color: #262626;
    text-decoration: none;
    margin: 0 5px;
    font-weight: 500;
    font-size: 13px;
    &:hover {
      text-decoration: underline;
      color: hsl(265°, 89%, 78%);
    }
    &:focus {
      color: hsl(265°, 89%, 78%);
    }
    &:active {
      color: hsl(265°, 89%, 78%);
    }
  }
  img {
    float: right;
    margin: 0 5px;
    width: 20px;
    height: 20px;
  }
}
