#pagination {
  margin-top: 2em;
  display: flex;
  justify-content: center;

  ol {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
      font-family: monospace;
      padding: 1em;
      border-radius: 3px;
      -webkit-tap-highlight-color: transparent; /* for removing the highlight */

      &:hover {
        background-color: #f5f5f5;
        font-weight: 600;
      }
      &:focus {
        outline: none;
      }
      ::selection {
        background: transparent;
      }
    }
    li {
      display: inline;
      list-style: none;
    }
  }
  [aria-current] {
    background-color: #f0f0f0;
    color: hsl(265°, 89%, 78%);
    font-weight: 600;
  }
}
