.post {
  display: grid;
  place-content: center;
  img {
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 100%;
    width: 90%;
  }
  time {
    font-family: monospace;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #515151;
  }
  h1 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-family: serif;
    font-weight: 600;
  }
  h2,
  h3 {
    font-family: serif;
    display: inline-block;
    font-weight: 600;
  }
  p {
    max-width: 700px;
    color: #262626;
    // &:nth-of-type(2) {
    //   line-height: 1.8;
    //   &::first-letter {
    //     font-family: serif;
    //     font-size: 200%;
    //     vertical-align: bottom;
    //     line-height: 1em;
    //   }
    // }
  }
  a {
    font-weight: 600;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.125em;
    text-underline-offset: 1.5px;
  }
  // Excerpt Box
  p:first-of-type {
    background-color: #f5f5f5;
    color: #3c3c3c;
    padding: 10px;
    border-radius: 3px;
    // font-weight: 500;
    // font-size: 13px;
    // font-family: serif;
    // font-style: italic;
    // letter-spacing: 1px;
    // line-height: 1.1;
    // padding: 10px;
    // border-radius: 3px;
  }
  // Table of Contents
  ul {
    padding: 0.5em 3em;
    background-color: #fbfbfb;
    list-style-position: inside;
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    margin-left: 1em;
    li {
      margin: 1em 0;
      list-style-type: square;
      ul {
        margin: 0 0;
        padding: 0 0 0 0.5em;
        &:before {
          content: '';
        }
      }
    }
    a {
      text-decoration: none;
      position: relative;
      font-weight: 500;
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #c1a4ea;
        transform-origin: bottom right;
        transform: scaleX(0);
        transition: transform 0.5s ease;
      }
      &:hover::before {
        transform-origin: bottom left;
        transform: scaleX(1);
      }
    }
  }
}
