.post {
  img {
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 100%;
    width: 90%;
  }
  time {
    font-family: 'Fira Code';
    font-size: 12px;
    font-weight: 400;
  }
  h1 {
    font-size: 2em;
    margin-top: 0.5em;
    font-family: serif;
    font-weight: 600;
  }
  h2 {
    display: inline-block;
    border-bottom: 1px dotted #262626;
    font-weight: 500;
  }
  p {
    max-width: 700px;
  }
  a {
    font-weight: 600;
  }
  .back-button {
    display: inline-block;
    color: #f0f0f0;
    font-weight: 600;
    background-color: hsl(265°, 89%, 78%);
    padding: 2px 4px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: darken(hsl(265°, 89%, 78%), 5%);
    }
    &:focus {
      background-color: darken(hsl(265°, 89%, 78%), 5%);
    }
    &:active {
      background-color: darken(hsl(265°, 89%, 78%), 5%);
    }
  }
}
